::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* { 
  font-family: 'system-ui';
}


.slider-one {
  background: rgba(77, 77, 77, 0.5);
}


.slider-two {
  background: rgb(255, 255, 255);
  position: relative;
}

.slider-two::before {
  content: '';
  position: absolute;
  background-size: 100% 200px;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  transform: translate(0, -199px);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-image: url('../../assets/svg/wave-top.svg');
}

.slider-three {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
  position: relative;
}

.slider-three::before {
  content: '';
  position: absolute;
  background-size: 100% 500px;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  transform: translate(0, -499px);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-image: url('../../assets/svg/wave-haikei.svg');
}

.slider-four {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.profile-image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
  /* filter: grayscale(100%) brightness(100%); */
  transition: all 0.5s ease-in-out;
  z-index: 3;
  position: relative;
}

.profile-image::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: -10px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: conic-gradient(from var(--gradient-degree) at 50% 50%, rgb(0, 255, 255), rgb(255, 153, 0), rgb(0, 255, 255));
  animation: rotate 5s linear infinite;
  z-index: 2;
  filter: blur(10px);
  transition: all 0.5s ease-in-out;
}

.Logo {
  aspect-ratio: 1/1;
  width: 100px;
  height: 100px;
  object-fit: cover;
  filter: grayscale(100%) brightness(100%);
  transition: all 0.2s ease-in-out;
  animation: filterChange 2s both;
  z-index: 3;
  position: relative;
}

.Logo:hover{
  filter: grayscale(0%) brightness(100%);
  animation: none;
}



/* new property named gradient degree */
@property --gradient-degree {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

/* new animation which change gradient degree from 0 to 360 */
@keyframes rotate {
  0% {
    --gradient-degree: 0deg;
  }

  100% {
    --gradient-degree: 360deg;
  }
}



/* new animation which change opacity between 50 and 100 */
@keyframes faded {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}


@keyframes filterChange{
  0%{
    filter: grayscale(100%) brightness(100%);
  }

  50%{
    filter: grayscale(0%) brightness(100%);
  }

  100%{
    filter: grayscale(100%) brightness(100%);
  }
}