::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* { 
  font-family: 'system-ui';
}


.main-container {}


.slider-one {
  background: rgba(77, 77, 77, 0.5);
}


.slider-two {
  background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.5));
  position: relative;
}

.slider-two::before {
  content: '';
  position: absolute;
  background-size: 100% 200px;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  transform: translate(0, -199px);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-image: url('../../assets/svg/wave-top.svg');
}

.slider-three {
  background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.5));
  position: relative;
}

.slider-three::before {
  content: '';
  position: absolute;
  background-size: 100% 500px;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  transform: translate(0, -499px);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-image: url('../../assets/svg/wave-haikei.svg');
}

.slider-four {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.profile-image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
  filter: grayscale(100%) brightness(100%);
  transition: all 0.5s ease-in-out;
  z-index: 3;
  /* animation: filterChange 10s infinite; */
  /* box-shadow: 10px 10px 0 5px #ffffff6c; */
}

.profile-image:hover {
  filter: grayscale(0%) brightness(100%);
}


.Logo {
  aspect-ratio: 1/1;
  width: 100px;
  height: 100px;
  object-fit: cover;
  filter: grayscale(100%) brightness(100%);
  transition: all 0.2s ease-in-out;
  animation: filterChange 2s both;
}

.Logo:hover{
  filter: grayscale(0%) brightness(100%);
  animation: none;
}




/* new animation which change opacity between 50 and 100 */
@keyframes faded {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}


@keyframes filterChange{
  0%{
    filter: grayscale(100%) brightness(100%);
  }

  50%{
    filter: grayscale(0%) brightness(100%);
  }

  100%{
    filter: grayscale(100%) brightness(100%);
  }
}