::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


.main-container{
}


.slider-one{
  background:linear-gradient(rgba(221, 221, 221, 0.5),rgba(146, 146, 146, 0.5));
}


.slider-two{
  background: linear-gradient(rgb(255, 255, 255),rgba(0, 0, 0, 0.5));
  position: relative;
}

.slider-two::before{
content:'';
position: absolute;
background-size: 100% 100px;
top: 0;
left: 0;
width: 100%;
height: 100px;
transform: scaleY(-1) translate(0, 100px);
background-position: 50% 0%;  
background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23ffffff"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23ffffff"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23ffffff"/></svg>'); 
}

.slider-three{
  background: linear-gradient(rgb(255, 102, 0,1),rgba(0, 0, 0, 0.5));
  position: relative;
}

.slider-three::before{
  content:'';
  position: absolute;
  background-size: 100% 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  transform: scaleY(-1) translate(0, 100px);
  background-position: 50% 0%;  
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="rgb(255, 102, 0,1)"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="rgb(255, 102, 0,0.23)"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="rgb(255, 102, 0,0.23)"/></svg>'); 
  }

.slider-four{
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
}

.profile-image{
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid #fff;
}
