:root {
  --color-primary: #ff6600;
  --color-primary-dark: #303f9f;
  --color-primary-light: #c5cae9;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(0, 0, 0, 0.87);
  /* background-color: #fff; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}


body{
  margin: 0;
}